<h5> Importing packages <h5>

In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import math

In [3]:
#np.random.seed(1)
x1 = np.random.rand(10)
x2 = np.random.rand(10)*100*np.random.rand(10)
y = np.random.rand(10)

In [4]:
df = pd.DataFrame({'x1': x1, 'x2': x2, 'y': y})

In [5]:
df

         x1         x2         y
0  0.239544  24.304315  0.432177
1  0.147201  10.484358  0.624929
2  0.041698   1.673506  0.139393
3  0.805797  34.816702  0.460361
4  0.106215   0.211608  0.342480
5  0.546787   8.789084  0.489523
6  0.712661   6.946752  0.435868
7  0.429673   2.028484  0.134977
8  0.051277  19.211000  0.296148
9  0.878209  18.780096  0.778131

In [6]:
x1

array([0.2395438 , 0.14720062, 0.04169804, 0.805797  , 0.1062146 ,
       0.54678731, 0.71266139, 0.42967305, 0.05127703, 0.87820856])

In [ ]:

def slopeofx(copydf)
    
    for i in copydf
        x! = 
        
    
    
m = slopeofx(df)