In [262]:
import pandas as pd
import numpy as np

In [263]:
column = ['seniority_inmonths']

In [264]:
dict1 = {'seniority_inmonths'  : ['    6', '     35', '     34', '     NA', '     33', '     31', '     21',

 '    244', '    239', '    245', '-999999', 105, 81, 93, 30, 79, 69, 104, 18, 35, 7,
  191, 167, 206, 205, 234, 158, 197,
 211, 212, 194, 229, 216, 235, -999999]}

In [265]:
train2 = pd.DataFrame(dict1 , columns = column )

In [266]:
obj_cols = train2.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{train2[col].nunique()}')
    print('-'  * 30)
    print(f'{train2[col].unique()}')
    print('='  * 30)

seniority_inmonths-----35
------------------------------
['    6' '     35' '     34' '     NA' '     33' '     31' '     21'
 '    244' '    239' '    245' '-999999' 105 81 93 30 79 69 104 18 35 7
 191 167 206 205 234 158 197 211 212 194 229 216 235 -999999]
==============================

In [267]:
train2['seniority_inmonths'] = train2['seniority_inmonths'].astype('str')
#train2['seniority_inmonths'] = str (obj_cols)

In [268]:
obj_cols = train2.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{train2[col].nunique()}')
    print('-'  * 30)
    print(f'{train2[col].unique()}')
    print('='  * 30)

seniority_inmonths-----34
------------------------------
['    6' '     35' '     34' '     NA' '     33' '     31' '     21'
 '    244' '    239' '    245' '-999999' '105' '81' '93' '30' '79' '69'
 '104' '18' '35' '7' '191' '167' '206' '205' '234' '158' '197' '211' '212'
 '194' '229' '216' '235']
==============================

In [269]:
train2 = train2.replace({'     NA': None })

In [270]:
train2

   seniority_inmonths
0                   6
1                  35
2                  34
3                None
4                  33
5                  31
6                  21
7                 244
8                 239
9                 245
10            -999999
11                105
12                 81
13                 93
14                 30
15                 79
16                 69
17                104
18                 18
19                 35
20                  7
21                191
22                167
23                206
24                205
25                234
26                158
27                197
28                211
29                212
30                194
31                229
32                216
33                235
34            -999999

In [271]:
obj_cols = train2.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{train2[col].nunique()}')
    print('-'  * 30)
    print(f'{train2[col].unique()}')
    print('='  * 30)

seniority_inmonths-----33
------------------------------
['    6' '     35' '     34' None '     33' '     31' '     21' '    244'
 '    239' '    245' '-999999' '105' '81' '93' '30' '79' '69' '104' '18'
 '35' '7' '191' '167' '206' '205' '234' '158' '197' '211' '212' '194'
 '229' '216' '235']
==============================

In [272]:
train2['seniority_inmonths']  = train2['seniority_inmonths'].str.lstrip()

In [273]:
train2['seniority_inmonths'] .dtype

dtype('O')

In [274]:
train2['seniority_inmonths']  = pd.to_numeric(train2['seniority_inmonths'])

In [276]:
train2['seniority_inmonths']

0          6.0
1         35.0
2         34.0
3          NaN
4         33.0
5         31.0
6         21.0
7        244.0
8        239.0
9        245.0
10   -999999.0
11       105.0
12        81.0
13        93.0
14        30.0
15        79.0
16        69.0
17       104.0
18        18.0
19        35.0
20         7.0
21       191.0
22       167.0
23       206.0
24       205.0
25       234.0
26       158.0
27       197.0
28       211.0
29       212.0
30       194.0
31       229.0
32       216.0
33       235.0
34   -999999.0
Name: seniority_inmonths, dtype: float64

In [275]:
obj_cols = train2.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{train2[col].nunique()}')
    print('-'  * 30)
    print(f'{train2[col].unique()}')
    print('='  * 30)

In [278]:
#train2['seniority_inmonths'].astype(np.int16) #ValueError: Cannot convert non-finite values (NA or inf) to integer

In [280]:
train2[''.dtype()

AttributeError: 'DataFrame' object has no attribute 'dtype'