In [342]:
#our aim is to convert the age(presently it is presnet as object datatype) column to int16(so as to reduce the memory size for efficinet reading the of the dataset)

In [343]:
import pandas as pd
import numpy as np

In [344]:
dict = {'age' : [' 35', ' 23', ' 22', ' 24', ' 65', ' 28', ' 25', ' 26', ' 53', ' 27', ' 32', ' 37',' NA',  '102', '104', '111', '107', '109', '105', '112', '115', '110', '116', '108', '113', 37, 81, 43, 30, 45, 41,67,59,46]
       }

In [345]:
data = pd.DataFrame(data = dict, columns =['age'])

In [346]:
data['age']

0      35
1      23
2      22
3      24
4      65
5      28
6      25
7      26
8      53
9      27
10     32
11     37
12     NA
13    102
14    104
15    111
16    107
17    109
18    105
19    112
20    115
21    110
22    116
23    108
24    113
25     37
26     81
27     43
28     30
29     45
30     41
31     67
32     59
33     46
Name: age, dtype: object

In [347]:
obj_cols = data.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{data[col].nunique()}')
    print('-'  * 30)
    print(f'{data[col].unique()}')
    print('='  * 30)

age-----34
------------------------------
[' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' NA' '102' '104' '111' '107' '109' '105' '112' '115' '110' '116' '108'
 '113' 37 81 43 30 45 41 67 59 46]
==============================

In [348]:
data['age'] =data['age'].astype('str')

In [349]:
obj_cols = data.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{data[col].nunique()}')
    print('-'  * 30)
    print(f'{data[col].unique()}')
    print('='  * 30)

age-----34
------------------------------
[' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' NA' '102' '104' '111' '107' '109' '105' '112' '115' '110' '116' '108'
 '113' '37' '81' '43' '30' '45' '41' '67' '59' '46']
==============================

In [337]:
data.isnull()

      age
0   False
1   False
2   False
3   False
4   False
5   False
6   False
7   False
8   False
9   False
10  False
11  False
12  False
13  False
14  False
15  False
16  False
17  False
18  False
19  False
20  False
21  False
22  False
23  False
24  False
25  False
26  False
27  False
28  False
29  False
30  False
31  False
32  False
33  False

In [350]:
data = data.replace({' NA':' 0'})

In [351]:
obj_cols = data.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{data[col].nunique()}')
    print('-'  * 30)
    print(f'{data[col].unique()}')
    print('='  * 30)

age-----34
------------------------------
[' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' 0' '102' '104' '111' '107' '109' '105' '112' '115' '110' '116' '108'
 '113' '37' '81' '43' '30' '45' '41' '67' '59' '46']
==============================

In [352]:
data['age'] = data['age'].str.lstrip()

In [353]:
obj_cols = data.select_dtypes(include=np.object_).columns.to_list()
for col in obj_cols:
    print(f'{col}-----{data[col].nunique()}')
    print('-'  * 30)
    print(f'{data[col].unique()}')
    print('='  * 30)

age-----33
------------------------------
['35' '23' '22' '24' '65' '28' '25' '26' '53' '27' '32' '37' '0' '102'
 '104' '111' '107' '109' '105' '112' '115' '110' '116' '108' '113' '81'
 '43' '30' '45' '41' '67' '59' '46']
==============================

In [354]:
data['age'].isnull()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
Name: age, dtype: bool

In [359]:
we cant convert NaN value to integer but we can hold woht float values.

SyntaxError: invalid syntax (<ipython-input-359-d45c1911f446>, line 1)

In [355]:
data['age'].dtype

dtype('O')

In [356]:
data['age']= data['age'].astype(np.int16)

In [357]:
data['age']

0      35
1      23
2      22
3      24
4      65
5      28
6      25
7      26
8      53
9      27
10     32
11     37
12      0
13    102
14    104
15    111
16    107
17    109
18    105
19    112
20    115
21    110
22    116
23    108
24    113
25     37
26     81
27     43
28     30
29     45
30     41
31     67
32     59
33     46
Name: age, dtype: int16

In [317]:
#data['age']= data['age'].astype(np.int16)def conv_age(age_str):
""""def conv_age(age_str):
    try:
      if age_str > 0:
        return age_str
    except:      
      #if re.search('^\s[0-9]+$', age_str,re.I):
      if 'NA' in age_str:
        return np.NAN
      else:
        return float(age_str.strip())"""

'"def conv_age(age_str):\n    try:\n      if age_str > 0:\n        return age_str\n    except:      \n      #if re.search(\'^\\s[0-9]+$\', age_str,re.I):\n      if \'NA\' in age_str:\n        return np.NAN\n      else:\n        return float(age_str.strip())'

In [318]:
#data['age'] = np.vectorize(conv_age)(data['age']).astype(np.int16)

In [358]:
data['age'].dtype

dtype('int16')

In [320]:
data['age']

0      35.0
1      23.0
2      22.0
3      24.0
4      65.0
5      28.0
6      25.0
7      26.0
8      53.0
9      27.0
10     32.0
11     37.0
12      NaN
13    102.0
14    104.0
15    111.0
16    107.0
17    109.0
18    105.0
19    112.0
20    115.0
21    110.0
22    116.0
23    108.0
24    113.0
25     37.0
26     81.0
27     43.0
28     30.0
29     45.0
30     41.0
31     67.0
32     59.0
33     46.0
Name: age, dtype: float16

In [321]:
data['age']= pd.to_numeric(data['age'])

In [322]:
data['age']= pd.to_numeric(data['age'])

In [323]:
data

      age
0    35.0
1    23.0
2    22.0
3    24.0
4    65.0
5    28.0
6    25.0
7    26.0
8    53.0
9    27.0
10   32.0
11   37.0
12    NaN
13  102.0
14  104.0
15  111.0
16  107.0
17  109.0
18  105.0
19  112.0
20  115.0
21  110.0
22  116.0
23  108.0
24  113.0
25   37.0
26   81.0
27   43.0
28   30.0
29   45.0
30   41.0
31   67.0
32   59.0
33   46.0

In [324]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     33 non-null     float16
dtypes: float16(1)
memory usage: 196.0 bytes

In [325]:
data['age'].dtype

dtype('float16')

In [326]:
#df['age']  = np.vectorize(conv_age)(df['age']).astype(np.int16)

In [327]:
"""%%time
df['age']  = np.vectorize(conv_age)(df['age']).astype(np.int16)"""

"%%time\ndf['age']  = np.vectorize(conv_age)(df['age']).astype(np.int16)"